

<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Team-Blog sportif </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath}}/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath}}/public/blog-home.css" rel="stylesheet">

    <!-- text editor -->
    <script src="{{ app.request.basepath}}/public/ckeditor/ckeditor.js" ></script>
    
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ app.url_generator.generate('home')  }}">La Team</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ app.url_generator.generate('home')  }}">Accueil
                <span class="sr-only">(current)</span>
              </a>
            {%if utilisateur!=null%}
                {%if utilisateur.getAdmin()==1%}         
                <li class="nav-item">
                  <a class="nav-link" href="{{ app.url_generator.generate('create')  }}">Creer un article</a>
                </li>
                {%endif%}
            {%endif%}
            </li>
            {% if session==0 %}
                <li class="nav-item">
                  <a class="nav-link" href="{{ app.url_generator.generate('connexion')  }}">Connexion</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="{{ app.url_generator.generate('inscription')  }}">Inscription</a>
                </li>
            {%else%}
                <li class="nav-item">
                  <a class="nav-link" href="#">Mon Compte</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{{ app.url_generator.generate('deconnexion')  }}">Déconnexion</a>
                </li>

                
                
            {%endif%}
           
          </ul>
        </div>
      </div>
    </nav>
    <!-- Page Content -->
    <div class="container" align="center">

      <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-12">

          <!-- Title -->
          <h1 class="mt-4">{{article.getTitre()}}</h1>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{%for utilisateur in utilisateurs%}{%if utilisateur.getId()==article.getAuteur()%}{{utilisateur.getPseudo()}}{%endif%}{%endfor%}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on January 1, 2017 at 12:00 PM</p>
         
          <img class="card-img-top" src="__DIR__.'/../../{{image.getChemin()}}" alt="Card image cap">
          
          {{article.getContenu()|raw}}
          
          
          {% if session!=0 %}
                <!-- Comments Form -->
                <div class="card my-4">
                  <h5 class="card-header">Laisser un commentaire</h5>
                  <div class="card-body">
                    <form methode="POST" action="{{ app.url_generator.generate('addComment')  }}">
                      <div class="form-group">
                        <textarea class="form-control" rows="3" name="comment"></textarea>
                        <input type="hidden" name="id" value={{article.getId()}}>
                      </div>
                      <button type="submit" class="btn btn-primary">Publier</button>
                    </form>
                  </div>
                </div>
          {%endif%}
          {%for commentaire in commentaires%}
              {%if commentaire.getIdArticle()==article.getId()%}
                    <!-- Single Comment -->
                    <div class="media mb-4">
                      <img class="d-flex mr-3 rounded-circle" src="__DIR__./../../images/avatar.jpg" alt="">
                      
                      <div class="media-body">
                        <h5 class="mt-0">{%for utilisateur in utilisateurs%}{%if utilisateur.getId()==commentaire.getIdAuteur()%}{{utilisateur.getPseudo()}}{%endif%}{%endfor%}{%if utilisateur!=null%} {%if utilisateur.getAdmin()==1%} <a href="__DIR__./../../deleteComment/{{commentaire.getId()}}"><img class="img-fluid" src="__DIR__./../../images/croix.png" alt="supprimer"></a>{%endif%}{%endif%}</h5>
                        
                        {{commentaire.getContenu()}}
                        
                      </div>
                    </div>
              {%endif%}
          {%endfor%}
          {%if utilisateur!=null%}
                {%if utilisateur.getAdmin()==1%}
                    <a href="__DIR__./../../modifier/{{article.getId()}}" class="btn btn-primary">Modifier cet article &rarr;</a>
                    <a href="__DIR__./../../delete/{{article.getId()}}" class="btn btn-danger">Supprimer cet article&rarr;</a>
                {%endif%}
          {%endif%}
        </div>

       

          

        </div>

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; LaTeam 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ app.request.basepath}}/public/jquery/jquery.min.js"></script>
    <script src="{{ app.request.basepath}}/public/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

