<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Team-Blog sportif </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath}}/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath}}/public/blog-home.css" rel="stylesheet">

    <!-- text editor -->
    <script src="{{ app.request.basepath}}/public/ckeditor/ckeditor.js" ></script>
    
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ app.url_generator.generate('home')  }}">La Team</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ app.url_generator.generate('home')  }}">Accueil
                <span class="sr-only">(current)</span>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="{{ app.url_generator.generate('create')  }}">Creer un article</a>
            </li>
            </li>

               

                <li class="nav-item">
                  <a class="nav-link" href="{{ app.url_generator.generate('connexion')  }}">Connexion</a>
                </li>

                

                
                

           
          </ul>
        </div>
      </div>
    </nav>
    <!-- home -->
    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

          <center><h1 class="my-4">Inscription</h1></center>

          <!-- inscription -->
    
            <form method="post" action="{{ app.url_generator.generate('add') }}">
		<center><table>
		<tbody><tr>
			<td>
                        	<label for="pseudo">Pseudo : </label>
			</td>
			<td>
				<input type="text" id="pseudo" name="pseudo" value="" style="width:100%"> 
			</td>
			</tr>
			<tr>
			<td>
				<label for="mail">Mail : </label>
			</td>
			<td>
				<input type="email" id="mail" name="mail" value="" style="width:100%"> 
			</td>
			</tr>
			<tr>
			<td>
				<label for="mdp">Mot de passe : </label>
			</td>
			<td>
				<input type="password" id="mdp" name="mdp" style="width:100%"> 
			</td>
			</tr>
                        <tr>
                        <td>
                                <label for="mdp">Confirmer votre mot de passe : </label>
                        </td>
                        <td>
                                <input type="password" id="mdp1" name="mdp1" style="width:100%"> 
                            </td>
                        </tr>

			<tr>
			
			<td>
				<input type="submit" value="Je m'inscris" style="width:100%" name="form_insc">
                            </td>
			</tr>
                        </tbody></table></center>
			</form>
    
        {% if erreur is defined %}

            <center><p style="color: red">Vous n'avez pas rempli tous les champs</p></center>
       
        {% endif %} 
       
        {% if erreur1 is defined %}

            <center><p style="color: red">Le pseudo existe déjà</p> </center>
       
        {% endif %} 
        {% if erreur2 is defined %}

            <center><p style="color: red">Les mots de passe ne correspondent pas</p></center>
       
        {% endif %} 

    
    
         <!-- fin inscription -->
          

        </div>

        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">

          

          <!-- Categories Widget -->
          <div class="card my-4">
            <h5 class="card-header">Categories</h5>
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="search/rugby">Rugby</a>
                    </li>
                    <li>
                      <a href="serach/tennis">Tennis</a>
                    </li>
                    <li>
                      <a href="serach/foot">Foot</a>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="serach/golf">Golf</a>
                    </li>
                    <li>
                      <a href="serach/basket">Basket</a>
                    </li>
                    
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Side Widget</h5>
            <div class="card-body">
              You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
            </div>
          </div>

        </div>

      </div>
      <!-- /.row -->

    </div>
    
    <!-- fin home -->
    
    
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; LaTeam 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ app.request.basepath}}/public/jquery/jquery.min.js"></script>
    <script src="{{ app.request.basepath}}/public/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>

<body>
    
    
   
          
    
    
</body>


