<!DOCTYPE html>
<html lang="fr">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>La Team-Blog sportif </title>

    <!-- Bootstrap core CSS -->
    <link href="{{ app.request.basepath}}/public/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ app.request.basepath}}/public/blog-home.css" rel="stylesheet">

    <!-- text editor -->
    <script src="{{ app.request.basepath}}/public/ckeditor/ckeditor.js" ></script>
    
  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="{{ app.url_generator.generate('home')  }}">La Team</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="{{ app.url_generator.generate('home')  }}">Accueil
                <span class="sr-only">(current)</span>
              </a>
            <li class="nav-item">
              <a class="nav-link" href="{{ app.url_generator.generate('create')  }}">Creer un article</a>
            </li>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Connexion</a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link" href="{{ app.url_generator.generate('inscription')  }}">Inscription</a>
            </li>
           
          </ul>
        </div>
      </div>
    </nav>
    {% block body %}{% endblock %}
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{{ app.request.basepath}}/public/jquery/jquery.min.js"></script>
    <script src="{{ app.request.basepath}}/public/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>
